{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}ARAU{% endblock %}</title>
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block extra_head %}{% endblock %}
  
</head>
<body>
  {% include 'includes/header.html' %}

  {% if messages %}
    <section class="flash-messages">
      {% for message in messages %}
        <div class="flash-message {{ message.tags }}">{{ message }}</div>
      {% endfor %}
    </section>
  {% endif %}

  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
