{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}ARAU{% endblock %}</title>
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block extra_head %}{% endblock %}
  
</head>
<body>
  {% include 'includes/header.html' %}

  <section class="avisos-zone">
    {% if messages %}
      {% for message in messages %}
        <div class="aviso {% if message.tags %}aviso-{{ message.tags }}{% endif %}">{{ message }}</div>
      {% endfor %}
    {% endif %}
    {% block avisos %}{% endblock %}
  </section>

  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
